@use '../variables' as *;
@use '../mixins' as *;

.post {
  background-color: $body-bg-color;
  width: 460px;
  padding: 30px 20px 20px;

  &-main {
    border-radius: $card-border-radius;
    margin-bottom: 20px;
  }

  &-image {
    background: rgb(87, 86, 106);
    background: linear-gradient(
      195deg,
      rgba(87, 86, 106, 1) 0%,
      rgba(89, 89, 138, 1) 35%,
      rgba(50, 50, 68, 1) 100%
    );
    width: 100%;
    max-height: 685px;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;

    & img {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      width: 100%;
      display: block;
    }
  }

  &-header {
    padding: 12px 20px;
  }

  &-avatar {
    @include avatar;
    margin-right: 10px;

    & img {
      width: 100%;
    }
  }

  &-content {
    padding: 16px 20px;

    & > * {
      margin-bottom: 20px;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 35px;
  }

  &-text {
    margin-bottom: 16px;

    & p {
      margin: 0;
      width: inherit;
      word-break: break-all;
    }

    & > div {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & span {
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-actions {
    height: 60px;

    button {
      background-color: $main-color;
      border: none;
      padding: 10px 20px 0;
      transition: all 0.2s;

      &:first-child {
        justify-content: start;
        border-bottom-left-radius: $card-border-radius;
      }

      &:last-child {
        justify-content: end;
        border-bottom-right-radius: $card-border-radius;
      }

      & span {
        height: fit-content;
      }

      &:hover {
        background-color: $secondary-color;
        path {
          fill: $main-color;
        }
        span {
          color: $main-color;
        }
      }
    }
  }

  &-addition {
    border-radius: $card-border-radius;
    padding: 20px 20px 21px;

    & svg {
      margin-left: 5px;
      margin-right: 10px;
    }

    & *,
    > * {
      margin-bottom: 0;
      padding: 0;
    }

    & > *:first-child {
      padding: 0;
      margin-bottom: 17px;
    }
  }
}
