@use '../mixins' as *;
@use '../variables' as *;

.sidebar {
  padding: 20px;
  width: 340px;
  background-color: $bg-color;

  &-panel {
    margin-bottom: 20px;
  }

  &-avatar {
    @include avatar;
    margin-right: 10px;
  }

  &-nav {
    gap: 20px;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      & li {
        padding: 10px;
        background-color: #fafdff;
        gap: 20px;
        border-bottom: 1px solid #f6f6f6;
        transition: all 0.3s;

        &:first-child {
          border-top-left-radius: $nav-border-radius;
          border-top-right-radius: $nav-border-radius;
        }

        &:last-child {
          border-bottom: none;
          border-bottom-left-radius: $nav-border-radius;
          border-bottom-right-radius: $nav-border-radius;
        }

        &:hover {
          background-color: #eef8ff;
        }
      }
    }
  }
}
