@use 'variables' as *;

// Breakpoints
// 768px, 1024px, 1200px
$breakpoints-up: (
  'medium': '48em',
  'large': '64em',
  'xlarge': '75em'
);

// 510px, 639px, 767px, 1023px, 1199px
$breakpoints-down: (
  'mobile': '31.875rem',
  'very-small': '39.9375em',
  'small': '47.9375em',
  'medium': '63.9375em',
  'large': '74.9375em',
  'xlarge': '1300px',
  'xxlarge': '1470px'
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin avatar($size: 50px) {
  box-sizing: content-box;
  height: $size;
  width: $size;
  background-color: $skeleton-bg;
  border: 3px solid transparent;
  outline: 3px solid;
  outline-color: #d2e7ff;
  background-clip: padding-box;
  margin: 6px;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

@mixin input {
  border: 1px solid #e9e9e9;
  outline: none;

  &:focus {
    border-color: #5333be;
  }
}
