@use '_variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-stack;
}

button {
  font-family: $font-stack;
}

.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33333%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.main-color {
  color: $main-color;
}

.secondary-color {
  color: $secondary-color;
}

.white-color {
  color: white;
}

.bg-white {
  background-color: #ffffff;
}

// --- Positions --- //

.fixed {
  position: fixed;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.top-0 {
  top: 0;
}

// --- Flexbox and grid --- //

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-between {
  align-items: space-between;
}

.self-center {
  align-self: center;
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.rounded-circle {
  border-radius: 50%;
}

.object-cover {
  object-fit: cover;
}

.btn {
  background-color: $main-color;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
  border: none;
  transition: all 0.2s;
  cursor: pointer;

  &:active {
    background-color: $secondary-color;
    color: $main-color;
  }
}

.btn-text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

.btn-settings {
  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      path {
        fill: #7b7b7b;
      }
    }

    &:active {
      path {
        fill: #cfcfcf;
      }
    }
  }
}

// --- Font and text --- //

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: $skeleton-bg;
  opacity: 0.5;
}

.placeholder-glow .placeholder {
  -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  animation: placeholder-glow 2s ease-in-out infinite;
}

@-webkit-keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}
